@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.wrapper{
    margin-top : 75px;
    margin-bottom: 60px;
}

.wrapper .title{
    max-width : 500px;
    width : 100%;
    margin : 0 auto 30px;
    background : #fff;
    padding : 30px;
    border-radius : 8px;
    box-shadow : 0 1px 2px rgba(0,0,0,0.07);
    text-align : center;
    text-transform : uppercase;
    font-size : 58px;
    color :  #b500fc;
}

.wrapper .team{
    width : auto; 
    display : flex; 
    text-align : center;
    justify-content : center;
    flex-wrap : wrap;
}

.wrapper .team .team_member:nth-child(1){
    width : 325px;
    margin : 10px;
    background : #fff;
    border-radius : 8px;
    padding : 25px;
    box-shadow: 2px 2px 5px #ff9900;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.wrapper .team .team_member:nth-child(2){
    width : 325px;
    margin : 10px;
    background : #fff;
    border-radius : 8px;
    padding : 25px;
    box-shadow: 2px 2px 5px #fc0069;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.wrapper .team .team_member:nth-child(3){
    width : 325px;
    margin : 10px;
    background : #fff;
    border-radius : 8px;
    padding : 25px;
    box-shadow: 2px 2px 5px #b500fc;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.wrapper .team .team_member:nth-child(4){
    width : 325px;
    margin : 10px;
    background : #fff;
    border-radius : 8px;
    padding : 25px;
    box-shadow: 2px 2px 5px #00dffc;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.wrapper .team .team_member:nth-child(5){
    width : 325px;
    margin : 10px;
    background : #fff;
    border-radius : 8px;
    padding : 25px;
    box-shadow: 2px 2px 5px #16c21f;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.wrapper .team .team_member img{
    width : 80px;
    border-radius : 45px;
}

.wrapper .team .team_member:nth-child(1) h3{ 
    color :  #ff9900;
}

.wrapper .team .team_member:nth-child(2) h3{ 
    color :  #fc0069;
}

.wrapper .team .team_member:nth-child(3) h3{ 
    color :  #b500fc;
}

.wrapper .team .team_member:nth-child(4) h3{ 
    color :  #00dffc;
}

.wrapper .team .team_member:nth-child(5) h3{ 
    color :  #16c21f;
}

.wrapper .team .team_member span{
    color : #999;
    font-size : 12px; 
}

.wrapper .team .team_member p{
    margin : 15px 0;
    text-align : justify; /*a voir si on laisse comme ça ou si on centre */
}

.wrapper .team .team_member .button_group{
    display : flex;
}

.wrapper .team .team_member .button_group a{
    width : 40px;
    background : #ddd;
    margin : 0 10px; 
    padding : 10px;
    border-radius : 45px;
    color : #444;
    text-transform : capitalize;
    transition : all 0.3s ease;
}

.wrapper .team .team_member:nth-child(1) .button_group a:hover{
    color : #fff;
    background : #ff9900;
}

.wrapper .team .team_member:nth-child(2) .button_group a:hover{
    color : #fff;
    background : #fc0069;
}

.wrapper .team .team_member:nth-child(3) .button_group a:hover{
    color : #fff;
    background : #b500fc;
}

.wrapper .team .team_member:nth-child(4) .button_group a:hover{
    color : #fff;
    background : #00dffc;
}

.wrapper .team .team_member:nth-child(5) .button_group a:hover{
    color : #fff;
    background : #16c21f;
}
