@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.cards{
    display : flex;
    flex-wrap : wrap;
    justify-content : space-evenly;
    align-items : center;
    max-width : 1000px;
    font-family: 'Raleway', sans-serif;
}

/*-------------------------------------------------------------------------------------------------------------*/
/* CHAT ONLINE*/
/*-------------------------------------------------------------------------------------------------------------*/

.card{
    position : relative;
    width : 400px;
    height : 250px;
    margin : 40px;
    display : flex;
    flex-direction: row;
    justify-content : flex-start;
    align-items : center;
    border-radius : 20px;
    background : linear-gradient(135deg, #fc0069, #b500fc);
}

.card img{
    position : absolute;
    bottom : 0;
    left : 50%;
    transform : translateX(-50%);
    height : 225px;
    transition : 0.5s;
}

.card:hover img{
    left : 85%;
    height : 275px;
}

.card .content{
    position : relative;
    width : 60%;
    left : 20%;
    padding : 10px 10px 10px 15px;
    opacity : 0;
    visibility: hidden;
    transition : 0.5s;
    text-align : justify;
}

.card:hover .content{
    left : 0%;
    opacity : 1;
    visibility: visible;
}

.card .content h2{
    color : #fff;
    text-transform : uppercase;
    font-size : 2.5em;
    line-height : 0.5em;
}

.card .content p{
    color : #fff;
    font-size : 1.5em;
}


@media (max-width : 991px){
    .card{
        position : relative;
        width : auto; 
        max-width : 300px;
        transition : 0.5s;
        align-items : flex-start;
    }
    .card:hover{
        height : 300px;
    }
    .card:hover img{
        left : 50%;
        height : 200px;
    }
    .card .content{
        width : 100%;
        left : 0;
        padding : 20px;
    }
}

@media (max-width : 420px){
    .card .content{
        padding : 15px;
    }
    .card:hover img{
        height : 100px;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/
/* Les bons comptes*/
/*-------------------------------------------------------------------------------------------------------------*/

.card2{
    position : relative;
    width : 400px;
    height : 250px;
    margin : 40px;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    border-radius : 20px;
    background : linear-gradient(135deg, #b500fc, #00dffc);
}

.card2 img{
    position : absolute;
    bottom : 0;
    left : 50%;
    transform : translateX(-50%);
    height : 200px;
    transition : 0.5s;
}

.card2:hover img{
    left : 95%;
    height : 235px;
}

.card2 .content{
    position : relative;
    width : 60%;
    left : 20%;
    padding : 10px 10px 10px 15px;
    opacity : 0;
    visibility: hidden;
    transition : 0.5s;
    text-align : justify;
}

.card2:hover .content{
    left : 0%;
    opacity : 1;
    visibility: visible;
}

.card2 .content h2{
    color : #fff;
    text-transform : uppercase;
    font-size : 2.5em;
    line-height : 0.5em;
}

.card2 .content p{
    color : #fff;
    font-size : 1.5em;
}

@media (max-width : 991px){
    .card2{
        position : relative;
        width : auto; 
        max-width : 300px;
        transition : 0.5s;
        align-items : flex-start;
    }
    .card2:hover{
        height : 300px;
    }
    .card2:hover img{
        left : 50%;
        height : 175px;
    }
    .card2 .content{
        width : 100%;
        left : 0;
        padding : 20px;
    }
}

@media (max-width : 420px){
    .card2 .content{
        padding : 15px;
    }
    .card2:hover img{
        height : 100px;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/
/* Jeux */
/*-------------------------------------------------------------------------------------------------------------*/

.card3{
    position : relative;
    width : 400px;
    height : 250px;
    margin : 40px;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    border-radius : 20px;
    background : linear-gradient(135deg, #00dffc, #16c21f);
}

.card3 img{
    position : absolute;
    bottom : 35px;
    left : 50%;
    transform : translateX(-50%);
    height : 140px;
    transition : 0.5s;
}

.card3:hover img{
    left : 95%;
    height : 160px;
}

.card3 .content{
    position : relative;
    width : 60%;
    left : 20%;
    padding : 10px 10px 10px 15px;
    opacity : 0;
    visibility: hidden;
    transition : 0.5s;
    text-align : justify;
}

.card3:hover .content{
    left : 0%;
    opacity : 1;
    visibility: visible;
}

.card3 .content h2{
    color : #fff;
    text-transform : uppercase;
    font-size : 2.5em;
    line-height : 0.5em;
}

.card3 .content p{
    color : #fff;
    font-size : 1.5em;
}

@media (max-width : 991px){
    .card3{
        position : relative;
        width : auto; 
        max-width : 300px;
        transition : 0.5s;
        align-items : flex-start;
    }
    .card3:hover{
        height : 300px;
    }
    .card3:hover img{
        left : 50%;
        height : 150px;
    }
    .card3 .content{
        width : 100%;
        left : 0;
        padding : 20px;
    }
}

@media (max-width : 420px){
    .card3 .content{
        padding : 15px;
    }
    .card3:hover img{
        height : 100px;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/
/* Gallerie */
/*-------------------------------------------------------------------------------------------------------------*/

.card4{
    position : relative;
    width : 400px;
    height : 250px;
    margin : 40px;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    border-radius : 20px;
    background : linear-gradient(135deg, #16c21f, #eeff00);
}

.card4 img{
    position : absolute;
    bottom : 30px;
    left : 50%;
    transform : translateX(-50%);
    height : 175px;
    transition : 0.5s;
}

.card4:hover img{
    left : 95%;
    height : 200px;
}

.card4 .content{
    position : relative;
    width : 60%;
    left : 20%;
    padding : 10px 10px 10px 15px;
    opacity : 0;
    visibility: hidden;
    transition : 0.5s;
    text-align : justify;
}

.card4:hover .content{
    left : 0%;
    opacity : 1;
    visibility: visible;
}

.card4 .content h2{
    color : #fff;
    text-transform : uppercase;
    font-size : 2.5em;
    line-height : 0.5em;
}

.card4 .content p{
    color : #fff;
    font-size : 1.5em;
}

@media (max-width : 420px){
    .card4 .content{
        padding : 15px;
    }
    .card4:hover img{
        height : 100px;
    }
}
