@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
    margin : 0;
    padding : 0; 
    box-sizing : border-box;
    font-family : 'Raleway', sans-serif;
}

body{
    display : flex;
    flex-wrap : wrap;
    flex-direction : column;
    justify-content : space-evenly;
    align-items : center;
    min-height : 100vh;
    background : #fff9f2;
}

.cards{
    display : flex;
    flex-wrap : wrap;
    justify-content : space-evenly;
    align-items : center;
    max-width : 1000px;
}

.event{
    display : flex;
    flex-direction: column;
    flex-wrap : wrap;
    justify-content : space-evenly;
    align-items : center;
    padding : 20px;
}

.event img{
    width : 125px;
    border-radius : 60px;
}


/*-------------------------------------------------------------------------------------------------------------*/
/* CHAT ONLINE*/
/*-------------------------------------------------------------------------------------------------------------*/

.card{
    position : relative;
    width : 350px;
    height : 175px;
    margin : 30px;
    display : flex;
    flex-direction: row;
    justify-content : flex-start;
    align-items : center;
    border-radius : 20px;
    background : linear-gradient(135deg, #fc0069, #b500fc);
}

.card img{
    position : absolute;
    bottom : 0;
    left : 50%;
    transform : translateX(-50%);
    height : 175px;
    transition : 0.5s;
}

.card:hover img{
    left : 80%;
    height : 225px;
}

.card .content{
    position : relative;
    width : 50%;
    left : 20%;
    padding : 10px 10px 10px 20px;
    opacity : 0;
    visibility: hidden;
    transition : 0.5s;
    text-align : justify;
}

.card:hover .content{
    left : 0%;
    opacity : 1;
    visibility: visible;
}

.card .content h2{
    color : #fff;
    text-transform : uppercase;
    font-size : 2em;
    line-height : 0.5em;
}

.card .content p{
    color : #fff;
    font-size : 0.6em;
}

.card .content a{
    position : relative;
    display : inline-block;
    color : #111;
    padding : 5px 10px;
    border-radius : 10px;
    background : #fff;
    margin-top : 5px;
    text-decoration : none;
    font-size : 0.5em;
}

@media (max-width : 991px){
    .card{
        position : relative;
        width : auto; 
        max-width : 300px;
        transition : 0.5s;
        align-items : flex-start;
    }
    .card:hover{
        height : 300px;
    }
    .card:hover img{
        left : 50%;
        height : 200px;
    }
    .card .content{
        width : 100%;
        left : 0;
        padding : 20px;
    }
}

@media (max-width : 420px){
    .card .content{
        padding : 15px;
    }
    .card:hover img{
        height : 100px;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/
/* Les bons comptes*/
/*-------------------------------------------------------------------------------------------------------------*/

.card2{
    position : relative;
    width : 350px;
    height : 175px;
    margin : 30px;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    border-radius : 20px;
    background : linear-gradient(135deg, #b500fc, #00dffc);
}

.card2 img{
    position : absolute;
    bottom : 0;
    left : 50%;
    transform : translateX(-50%);
    height : 150px;
    transition : 0.5s;
}

.card2:hover img{
    left : 80%;
    height : 182px;
}

.card2 .content{
    position : relative;
    width : 50%;
    left : 20%;
    padding : 10px 10px 10px 20px;
    opacity : 0;
    visibility: hidden;
    transition : 0.5s;
    text-align : justify;
}

.card2:hover .content{
    left : 0%;
    opacity : 1;
    visibility: visible;
}

.card2 .content h2{
    color : #fff;
    text-transform : uppercase;
    font-size : 1em;
    line-height : 0.5em;
}

.card2 .content p{
    color : #fff;
    font-size : 0.6em;
}

.card2 .content a{
    position : relative;
    display : inline-block;
    color : #111;
    padding : 5px 10px;
    border-radius : 10px;
    background : #fff;
    margin-top : 5px;
    text-decoration : none;
    font-size : 0.5em;
}

@media (max-width : 991px){
    .card2{
        position : relative;
        width : auto; 
        max-width : 300px;
        transition : 0.5s;
        align-items : flex-start;
    }
    .card2:hover{
        height : 300px;
    }
    .card2:hover img{
        left : 50%;
        height : 175px;
    }
    .card2 .content{
        width : 100%;
        left : 0;
        padding : 20px;
    }
}

@media (max-width : 420px){
    .card2 .content{
        padding : 15px;
    }
    .card2:hover img{
        height : 100px;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/
/* Jeu */
/*-------------------------------------------------------------------------------------------------------------*/

.card3{
    position : relative;
    width : 350px;
    height : 175px;
    margin : 30px;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    border-radius : 20px;
    background : linear-gradient(135deg, #00dffc, #16c21f);
}

.card3 img{
    position : absolute;
    bottom : 20px;
    left : 50%;
    transform : translateX(-50%);
    height : 115px;
    transition : 0.5s;
}

.card3:hover img{
    left : 80%;
    height : 140px;
}

.card3 .content{
    position : relative;
    width : 50%;
    left : 20%;
    padding : 10px 10px 10px 20px;
    opacity : 0;
    visibility: hidden;
    transition : 0.5s;
    text-align : justify;
}

.card3:hover .content{
    left : 0%;
    opacity : 1;
    visibility: visible;
}

.card3 .content h2{
    color : #fff;
    text-transform : uppercase;
    font-size : 1em;
    line-height : 0.5em;
}

.card3 .content p{
    color : #fff;
    font-size : 0.6em;
}

.card3 .content a{
    position : relative;
    display : inline-block;
    color : #111;
    padding : 5px 10px;
    border-radius : 10px;
    background : #fff;
    margin-top : 5px;
    text-decoration : none;
    font-size : 0.5em;
}

@media (max-width : 991px){
    .card3{
        position : relative;
        width : auto; 
        max-width : 300px;
        transition : 0.5s;
        align-items : flex-start;
    }
    .card3:hover{
        height : 300px;
    }
    .card3:hover img{
        left : 50%;
        height : 150px;
    }
    .card3 .content{
        width : 100%;
        left : 0;
        padding : 20px;
    }
}

@media (max-width : 420px){
    .card3 .content{
        padding : 15px;
    }
    .card3:hover img{
        height : 100px;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/
/* Gallerie */
/*-------------------------------------------------------------------------------------------------------------*/

.card4{
    position : relative;
    width : 350px;
    height : 175px;
    margin : 30px;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    border-radius : 20px;
    background : linear-gradient(135deg, #16c21f, #eeff00);
}

.card4 img{
    position : absolute;
    bottom : 25px;
    left : 50%;
    transform : translateX(-50%);
    height : 115px;
    transition : 0.5s;
}

.card4:hover img{
    left : 80%;
    height : 140px;
}

.card4 .content{
    position : relative;
    width : 50%;
    left : 20%;
    padding : 10px 10px 10px 20px;
    opacity : 0;
    visibility: hidden;
    transition : 0.5s;
    text-align : justify;
}

.card4:hover .content{
    left : 0%;
    opacity : 1;
    visibility: visible;
}

.card4 .content h2{
    color : #fff;
    text-transform : uppercase;
    font-size : 1em;
    line-height : 0.5em;
}

.card4 .content p{
    color : #fff;
    font-size : 0.6em;
}

.card4 .content a{
    position : relative;
    display : inline-block;
    color : #111;
    padding : 5px 10px;
    border-radius : 10px;
    background : #fff;
    margin-top : 5px;
    text-decoration : none;
    font-size : 0.5em;
}

@media (max-width : 991px){
    .card4{
        position : relative;
        width : auto; 
        max-width : 300px;
        transition : 0.5s;
        align-items : flex-start;
    }
    .card4:hover{
        height : 300px;
    }
    .card4:hover img{
        left : 50%;
        height : 150px;
    }
    .card4 .content{
        width : 100%;
        left : 0;
        padding : 20px;
    }
}

@media (max-width : 420px){
    .card4 .content{
        padding : 15px;
    }
    .card4:hover img{
        height : 100px;
    }
}




/*.card{
    position : relative;
    width : 600px;
    height : 350px;
    margin : 20 px;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    border-radius : 20px;
    background : linear-gradient(135deg, #d41e31, #491f8f);
}

.card img{
    position : absolute;
    bottom : 0;
    left : 50%;
    transform : translateX(-50%);
    height : 350px;
    transition : 0.5s;
}

.card:hover img{
    left : 80%;
    height : 500px;
}

.card .content{
    position : relative;
    width : 50%;
    left : 20%;
    padding : 20px 20px 20px 40px;
    opacity : 0;
    visibility: hidden;
    transition : 0.5s;
    text-align : justify;
}

.card:hover .content{
    left : 0%;
    opacity : 1;
    visibility: visible;
}

.card .content h2{
    color : #fff;
    text-transform : uppercase;
    font-size : 2em;
    line-height : 1em;
}

.card .content p{
    color : #fff;
}

.card .content a{
    position : relative;
    display : inline-block;
    color : #111;
    padding : 10px 20px;
    border-radius : 10px;
    background : #fff;
    margin-top : 10px;
    text-decoration : none;
}

@media (max-width : 991px){
    .card{
        position : relative;
        width : auto; 
        max-width : 600px;
        transition : 0.5s;
        align-items : flex-start;
    }
    .card:hover{
        height : 600px;
    }
    .card:hover img{
        left : 50%;
        height : 350px;
    }
    .card .content{
        width : 100%;
        left : 0;
        padding : 40px;
    }
}

@media (max-width : 420px){
    .card .content{
        padding : 30px;
    }
    .card:hover img{
        height : 200px;
    }
}*/