@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#box{
    margin-top : 75px;
    font-family : 'Raleway', sans-serif;
    display : flex;
    flex-wrap : wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
    text-align : justify;
}

.my_box {
    display : flex;
    flex-wrap : wrap;
    box-sizing: border-box;
    justify-content: center;
    text-align : justify;
    padding : 20px;
}

#iframe{
    border-radius: 25px;
}

#invité{
    display : flex;
    flex-wrap : wrap;
    box-sizing: border-box;
    flex-direction : column;
    justify-content: space-evenly;
    text-align : justify;
    padding : 20px;
}

label{
    font-family : 'Raleway', sans-serif;
}

#alignement{
    margin-left:220px;
    margin-bottom:1px;
}

/*head{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    font-family:"Georgia";
}*/

.button:hover{
    cursor:pointer;
}


input{
    border : 0px;
    border-bottom: solid 2px darkgray;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;   
}

input:required{
    border-right:none;
    border-top:none;
    border-left:none;
    border-color:darkgrey;
    margin: 8px;
    padding: 8px;
}

table{
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
     
}

td{
    border:2px solid;
    width:10px;
    height: 10px;
    padding:15px; 
}




