<template>
  <div>
    <section id="services">
      <div class="services container">
        <router-link to="/"> <div class="button_cont" ><a class="example_a" v-on:click="reset_game()" >Retourner à la page Jeux</a></div></router-link>
        <div v-if="state_game>0">
          <p>---------------------------</p>
        </div>

        <div v-if="state_game===0">
          <p id="titreRegles">Règles du Devine-tête :</p>
          <ul>
            <li class="regles" >Chacun votre tour, choisissez le personnage de votre voisin.</li>
            <li class="regles" >Une fois que tout le monde a son rôle, la partie peux commencer !</li>
            <li class="regles" >L'ordre est aléatoire : vous avez 35 secondes pour poser des questions afin de trouver votre personnage.</li>
            <li class="regles" >Trouvez votre personnage avant les autres pour gagner !</li>
          </ul>
          <p><div class="button_cont"><a class="example_a" v-on:click="changeStateGame()">Commencer !</a></div></p>
        </div>

        <div v-if="state_game===1">
          <div>
            <select name="nbs" v-on:click="updateNbPlayers($event)">
              <option
                v-for="nb in nbs"
                :key="nb.id"
                v-bind:value="nb"
              >
              {{nb}}
              </select>
          </div>
          <p>Nombre de joueurs : {{nb_players}}</p>
          <br>
          <p><div class="button_cont"><a class="example_a" v-on:click="confirmNbPlayers()">Confirmer le nombre de joueurs</a></div></p>
        </div>


        <div v-if="state_game===2">

          <p>Joueurs validés : {{init}}/{{nb_players}}</p>

          <div v-for="index in (nb_players)" :key="index">
            <div v-if="init==(index-1)" class = "init">
              <div v-if="index===1">
                <p>Le premier joueur rentre le nom de son voisin ainsi que son personnage : </p>
              </div>
              <div v-else>
                <p>
                <span>Bonsoir </span> 
                <span id="colored">{{players[(index-2)].name}}</span>
                <span>, à vous de rentrer le nom de votre voisin ainsi que son personnage.</span>
                </p>
              </div>
              <label for="name">Nom de votre voisin : <label>
              <input type="text" name="Player" class="name" v-model="players[(index-1)].name">

              <label for="personnage">Son personnage : <label>
              <input type="text" name="Personnage" class="personnage" v-model="players[(index-1)].personnage">
              <br><br>
              <p><div class="button_cont"><a class="example_b" v-on:click="initialisationPlus()">Confirmer</a></div></p>
            </div>
          </div>
          
          <div v-if="init==nb_players">
            <br><br>
            <p><div class="button_cont"><a class="example_b" v-on:click="startgame()">Démarrer la partie !</a></div></p>
          </div>

        </div>

        <div v-if="state_game===3">
          <div v-for="index in (nb_players)" :key="`A-${index}`">            

            <span>
                <input type="checkbox" v-model="players[(index-1)].show"> {{players[(index-1)].name}} 
            </span>
            <span v-if="players[(index-1)].show">
                ({{players[(index-1)].personnage}})
            </span>
            <span v-else>
                (?)
            </span>
            <br>
            <br>

          </div>
          
          <p>-------------------------------</p>

          <div v-for="index2 in (nb_players_won)" :key="`B-${index2}`">
              <p> {{index2}}) {{players_won[index2-1].name}} ({{players_won[index2-1].personnage}}) </p>
          </div>
          <div v-if="nb_players_won>0">
            <p>-------------------------------</p>
          </div>

          <div id="app" v-cloak>
            <p><span class="smallspan"> Ordre : |</span>
            <span v-for="index3 in (nb_players)" :key="`C-${index3}`" class="smallspan">
              {{temp_array[order[(index3-1)]].name}} |
            </span></p>
            
            <span v-if="nextPlayerButton"> TERMINÉ ! </span>
            <span v-else> Au tour de </span> <span id="colored">{{temp_array[order[order_index]].name}}</span> <span>! </span>
            
            <div>
              <timer :time="prettyTime"></timer>
              <div>
                  <p><div class="button_cont"><a class="example_a" v-if="startButton" v-on:click="start()">Démarrer</a></div></p>
                  <p><div class="button_cont"><a class="example_a" v-if="nextPlayerButton" v-on:click="nextPlayer()">Joueur suivant</a></div></p>
                  <p><div class="button_cont"><a class="example_a" v-if="resetButton" v-on:click="reset()">Passer</a></div></p>
                  <div class="button_cont"><a class="example_a" v-if="nextPlayerButton " v-on:click="Found(order_index)">Trouvé ?</a></div>
              </div>
            </div>       
          </div>

        </div>

        <div v-if="state_game===4"> 
          <p>Bravo, tout le monde a trouvé son rôle !</p>
          <p>Voici le classement de chacun :</p>
          <div v-for="index2 in (nb_players_won)" :key="`B-${index2}`">
              <p> {{index2}}) {{players_won[index2-1].name}} ({{players_won[index2-1].personnage}}) </p>
          </div>
          
        </div>
      </div>
    </section>
  </div>
</template>

<script>

let Timer = {
	template: `
		 <div class="timer">{{ time | prettify }}</div>
	`,
	props:['time'],
	filters: {
		 prettify : function(value) {
			  let data = value.split(':')
			  let minutes = data[0]
			  let secondes = data[1]
			  if (minutes < 10) {
					minutes = "0"+minutes
			  }
			  if (secondes < 10) {
					secondes = "0"+secondes
			  }
			  return minutes+":"+secondes
		 }
	}
}


module.exports = {
  props: {
    
  },
  components: {
		 'timer':Timer
	},
  data () {
    return {
      nb_players: null ,
      Nombre: 0,
      nb_players_won: 0,
      state_game: 0 ,
      nbs: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
      init: 0,

      temp_array: [],

      players: [
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},  
      ],
      players_won: [],

      order: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],
      order_index:0,

      startButton: true,
      nextPlayerButton: false,
      resetButton: false,
      trouveButton: true,
      time:35,
      timer:null,
      sound:new Audio("https://www.soundjay.com/button/sounds/button-7.mp3")
    }
  },
  computed: {
		prettyTime () {
			 let time = this.time / 60
			 let minutes = parseInt(time)
			 let secondes = Math.round((time - minutes) * 60)
			 return minutes+":"+secondes
		}
	},
  methods: {
    changeStateGame: function(){
        this.state_game++ ;
    },
    confirmNbPlayers: function(){
      if (this.nb_players != null){
        this.state_game++ ;
      }
    },
    reset_game: function(){
      this.state_game = 0 ;
      this.nb_players = null ;
      this.state_game = 0 ;
      this.init = 0 ;
      this.startButton = true ;
      this.nextPlayerButton = false ;
      this.resetButton = false ;
      this.order = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] ;
      this.order_index = 0 ;
      this.players_won = [];
      this.Nombre = 0 ;
      this.players = [
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},
        {name: '', personnage: '', show: false},  
      ] ;
      this.nb_players_won = 0 ;
      this.temp_array = [] ;
      this.order = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],
      this.order_index = 0 ;

      this.startButton = true ;
      this.nextPlayerButton = false ;
      this.trouveButton = true ;
      this.time = 35 ;
      this.timer = null ;
    },
    updateNbPlayers(event){
      this.nb_players = parseInt(event.target.value, 10);
      this.Nombre = this.nb_players ;

    },
    initialisationPlus(){
      this.init++ ;
    },
    Found: function(order_index){
      for(z=0;z<this.Nombre;z++){
        if (this.temp_array[this.order[this.order_index]].name === this.players[z].name ){
          i = z ;
        }
      }
      index = null ;
      index2 = null ;

      for (j = 0 ; j < this.Nombre ; j++){
        if (this.temp_array[j].name == this.players[i].name){
          index = j ;
        }
      }


      this.players_won.splice(this.nb_players_won, 0, this.players[i]);
      this.players.splice(i, 1);
      this.nb_players-- ;
      this.nb_players_won++ ;
      this.order_index-- ;
      
      
      for (j = 0 ; j < (this.nb_players+1) ; j++){
        if (this.order[j]==index){
          index2 = j ;
        }
      }
      this.order.splice(index2, 1);
      

      if (this.players_won.length == (this.Nombre)){
        this.state_game++ ;
      }

      this.trouveButton=false ;

      this.nextPlayer();
    },

    startgame: function() {
       this.state_game++ ;
       this.order.splice(this.nb_players, (15-this.nb_players));       
       this.shuffle();

       for (i = 0 ; i < this.nb_players ; i++){

         this.temp_array[i] = this.players[i] ;

       }
       
       


     },

     start () {
       this.startButton = false
       this.resetButton = true
        this.timer = setInterval( () => {
          if (this.time > 0) {
              this.time--
          } else {
              /*this.sound.play()*/
              this.resetButton = false
              this.nextPlayerButton = true
              clearInterval(this.timer)
          }
        }, 1000 )
			 
		 },
		 
		 nextPlayer () {
       
        if (this.order_index == (this.nb_players-1)){
          this.order_index = 0 ;
        } else {
          this.order_index++ ;
        }

        this.time = 35
        this.nextPlayerButton = false
        this.startButton = true ;
        this.trouveButton = true ;

        console.log()
          
     },

     shuffle() {

        var currentIndex = this.order.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

          // Pick a remaining element...
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex -= 1;

          // And swap it with the current element.
          temporaryValue = this.order[currentIndex];
          this.order[currentIndex] = this.order[randomIndex];
          this.order[randomIndex] = temporaryValue;
        }

     },

     reset() {
       this.resetButton = false
       clearInterval(this.timer)
       this.nextPlayerButton = true
       this.time = 0;
     }
  }
}


</script>

<style scoped>

p{
  display: block;
	font-size: 2rem;
  position: relative;
  color: white ;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
}

label{
  font-size: 2rem;
  color: white ;
  font-weight: bold;
  text-align: center;
}

span{
  font-size: 2rem;
  color: white ;
  font-weight: bold;
  text-align: center;
}
span.smallspan{
  font-size: 1.5rem;
}
span#colored{
  color: rgb(151, 3, 3);
}

.timer{
  font-size: 2rem;
  color: white ;
  font-weight: bold;
  text-align: center;
}

input{
  border-radius: 6px;
}

.example_a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #fc631c ;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-bottom: 15%;
}

.example_a:hover {
background: #fc1d00;
cursor: pointer;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
.example_b {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #fc631c ;
  padding: 20px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  margin-bottom: 0%;
  margin-top:50px;
}

.example_b:hover {
background: #fc1d00;
cursor: pointer;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.regles {
  display: block;
	font-size: 2rem;
  position: relative;
  color: white ;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
}

#titreRegles {
  display: block;
	font-size: 4rem;
  position: relative;
  color: white ;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
}

select{
  background-color: #fc631c;
  border-radius: 10px ;
  border-color: white ;
  width : 50px;
  height : 25px;
  margin-bottom: 10%;
}



</style>
