<template>
  <div id = "Test">
    <section id="services">
      <div class="services container">
        <router-link to="/"> <div class="button_cont" ><a class="example_a" v-on:click="reset_game()" >Retourner à la page Jeux</a></div></router-link>
        <div v-if="state_game>-1">
          <p>---------------------------</p>
        </div>

        <div v-if="state_game===-1">
          <p id="titreRegles">Règles du Time's Up :</p>
          <ul>
            <li class="regles" >Formez deux équipes égales. Si vous êtes impair, l'équipe A comportera un joueur de plus.</li>
            <li class="regles" >Chaque joueur choisit trois mots qui feront partie de la liste à deviner.</li>
            <li class="regles" >La partie se déroule en trois manches ; chaque mot deviné rapporte un point.</li>
            <li class="regles" >L'équipe avec le plus de points à la fin des trois manches remporte la partie.</li>
          </ul>
          <p><div class="button_cont"><a class="example_a" v-on:click="ConfirmTeams()">Commencer !</a></div></p>
        </div>

        <div v-if="state_game===0">
          <div>
            <select name="nbs" v-on:click="updateNbPlayers($event)">
              <option
                v-for="nb in nbs"
                :key="nb.id"
                v-bind:value="nb"
              >
              {{nb}}
              </select>
          </div>
          <p>Nombre de joueurs : {{nb_players}}</p>
          <p><div class="button_cont"><a class="example_a" v-on:click="Confirm()"> Confirmer le nombre de joueurs</a></div></p>
        </div>

        <div v-if="state_game===1">
          <div v-if="TeamAinit">
            <label for="name">Nom de l'équipe A : <label>
            <input type="text" name="Team" class="input" v-model="NameTeamA">
            <div v-for="index in (NbTeamA)" :key="`A-${index}`">
              <label for="name">Nom du joueur {{index}} : <label>
              <input type="text" name="nom" class="input" v-model="TeamA[index-1]">
            </div>
            <p><div class="button_cont"><a class="example_a" v-on:click="gotoTeamB()">Confirmer</a></div></p>
          </div>
          <div v-if="TeamBinit">
            <label for="name">Nom de l'équipe B : <label>
            <input type="text" name="Team" class="input" v-model="NameTeamB">
            <div v-for="index in (NbTeamB)" :key="`A-${index}`">
              <label for="name">Nom du joueur {{index}} : <label> 
              <input type="text" name="nom" class="input" v-model="TeamB[index-1]">
            </div>
            <p><div class="button_cont"><a class="example_a" v-on:click="ConfirmTeams()">Confirmer</a></div></p>
          </div>
        </div>

        <div v-if="state_game===2">
          <div v-for="index in (nb_players)" :key="`B-${index}`">
            <div v-if="i==((index-1)*5)" class = "init">
              <p> Veuillez insérer 5 mots à deviner. Joueurs ayant rentré 5 mots : {{index}}/{{nb_players}}</p>
              <input type="text" name="mot" class="input" v-model="mots[i]">
              <input type="text" name="mot" class="input" v-model="mots[i+1]">
              <input type="text" name="mot" class="input" v-model="mots[i+2]">
              <input type="text" name="mot" class="input" v-model="mots[i+3]">
              <input type="text" name="mot" class="input" v-model="mots[i+4]">
              <p><div class="button_cont"><a class="example_a" v-on:click="confirmots()">Confirmer</a></div></p>
            </div>
          </div>

          <div v-if="i==(nb_players*5)">
            <p> MANCHE 1 ! Faites deviner à votre équipe en décrivant le mot. </p>
            <p> Attention, les mimes et mots de la même famille sont interdits !</p>
            <p><div class="button_cont"><a class="example_a" v-on:click="startgame()">Commencer la partie</a></div></p>
          </div>

        </div>


        <div v-if="3<=state_game && state_game<6">

          <p>{{NameTeamA}} : {{PointsA}} points</p>
          <p>{{NameTeamB}} : {{PointsB}} points</p>
          <div v-if="state_game==3">
            <p><span id="colored">{{NameCurrentTeam()}} : {{players[currentplayer]}} fait deviner !</span></p>
            <p><div class="button_cont"><a class="example_a" v-if="startingButton" v-on:click="startGuessing()">Commencer !</a></div></p>
            <div v-if="guessing">
              <p> {{mots[indexmots]}} </p>
              <timer :time="prettyTime"></timer>
              <div class="miniblock">
                <p><div id="stp" class="button_cont"><a class="example_a" v-on:click="Passer()">Passer</a></div></p>
                <p><div id="stp" class="button_cont"><a class="example_a" v-on:click="Trouve()">Trouvé !</a></div></p>
              </div>
            </div>
            <p><div class="button_cont"><a class="example_a" v-if="suivantButton" v-on:click="Suivant()">Suivant</a></div></p>
          </div>

          <div v-if="state_game==4">
            <div v-if="initManche">
              <p> MANCHE 2 ! Vous ne pouvez utiliser qu'un seul mot pour faire deviner. </p>
              <p> Attention, votre équipe n'a le droit qu'à une seule réponse ! Si elle est fausse, passez.</p>
              <p><div class="button_cont"><a class="example_a" v-on:click="startManche()">Démarrer la manche 2</a></div></p>
            </div>
            <div v-else>
              <p> <span id="colored">{{NameCurrentTeam()}} : {{players[currentplayer]}} fait deviner !</span></p>
              <p><div class="button_cont"><a class="example_a" v-if="startingButton" v-on:click="startGuessing()">Commencer</a></div></p>
              <div v-if="guessing">
                <p> {{mots[indexmots]}} </p>
                <timer :time="prettyTime"></timer>
                <div class="miniblock">
                  <p><div id="stp" class="button_cont"><a class="example_a" v-on:click="Passer()">Passer</a></div></p>
                  <p><div id="stp" class="button_cont"><a class="example_a" v-on:click="Trouve()">Trouvé !</a></div></p>
                </div>
              </div>
              <p><div class="button_cont"><a class="example_a" v-if="suivantButton" v-on:click="Suivant()">Suivant</a></div></p>
            </div>
          </div>

          <div v-if="state_game==5">
            <div v-if="initManche">
              <p> MANCHE 3 ! Place aux mimes ! </p>
              <p> Attention, toute forme de bruit est interdite !</p>
              <p><div class="button_cont"><a class="example_a" v-on:click="startManche()">Démarrer la manche 3</a></div></p>
            </div>
            <div v-else>
              <p><span id="colored">{{NameCurrentTeam()}} : {{players[currentplayer]}} fait deviner !</span></p>
              <p><div class="button_cont"><a class="example_a" v-if="startingButton" v-on:click="startGuessing()">Commencer !</a></div></p>
              <div v-if="guessing">
                <p> {{mots[indexmots]}} </p>
                <timer :time="prettyTime"></timer>
                <div class="miniblock">
                  <p><div id="stp" class="button_cont"><a class="example_a" v-on:click="Passer()">Passer</a></div></p>
                  <p><div id="stp" class="button_cont"><a class="example_a" v-on:click="Trouve()">Trouvé !</a></div></p>
                </div>
              </div>
              <p><div class="button_cont"><a class="example_a" v-if="suivantButton" v-on:click="Suivant()">Suivant</a></div></p>
            </div>
          </div>

        </div>

        <div v-if="state_game == 6">
          <p>Fin de la partie !</p>
          <p>{{NameTeamA}} : {{PointsA}} points</p>
          <p>{{NameTeamB}} : {{PointsB}} points</p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

let Timer = {
	template: `
		 <div class="timer">{{ time | prettify }}</div>
	`,
	props:['time'],
	filters: {
		 prettify : function(value) {
			  let data = value.split(':')
			  let minutes = data[0]
			  let secondes = data[1]
			  if (minutes < 10) {
					minutes = "0"+minutes
			  }
			  if (secondes < 10) {
					secondes = "0"+secondes
			  }
			  return minutes+":"+secondes
		 }
	}
}


module.exports = {
  props: {
    
  },
  components: {
		 'timer':Timer
	},
  data () {
    return {
      nb_players: 4,
      nbs: [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
      state_game: -1 ,
      NameTeamA: '',
      NameTeamB: '',
      NbTeamA: 0,
      NbTeamB: 0,
      TeamAinit: true,
      TeamBinit: false,
      TeamA: [],
      TeamB: [],
      players: [],
      PointsA: 0,
      PointsB: 0,


      nb_mots: 0,
      mots: [],
      motsfound: 0,
      temparray: [],
      indexmots: 0,
      i: 0,

      currentTeam: 'A' ,
      currentplayer: 0,

      time: 40,
      timer: null,
      startingButton: true,
      guessing: false,
      suivantButton: false,
      initManche: false,

    }
  },
  computed: {
		prettyTime () {
			 let time = this.time / 60
			 let minutes = parseInt(time)
			 let secondes = Math.round((time - minutes) * 60)
			 return minutes+":"+secondes
		}
	},
  methods: {
    reset: function(){
      this.nb_players = 4 ;
      this.state_game = -1 ;
      this.NameTeamA = '' ;
      this.NameTeamB = '' ;
      this.NbTeamA = 0 ;
      this.NbTeamA = 0 ;
      this.TeamAinit = true ;
      this.TeamBinit = false ;
      this.TeamA = [] ;
      this.TeamB = [] ;
      this.nb_mots = 0 ;
      this.mots = [] ;
      this.i = 0 ;
      
    },

    updateNbPlayers(event){
      this.nb_players = parseInt(event.target.value, 10);

    },
    Confirm(){
      this.state_game++ ;
      this.nb_mots = 5*this.nb_players ;
      if ( this.nb_players % 2 == 0) {
        this.NbTeamA = (this.nb_players/2);
        this.NbTeamB = (this.nb_players/2);
        console.log(this.NbTeamA);
        console.log(this.NbTeamB);
      } else {
        this.NbTeamA = ((this.nb_players/2)+0.5);
        this.NbTeamB = ((this.nb_players/2)-0.5);
        console.log(this.NbTeamA);
        console.log(this.NbTeamB);
      }
    },
    gotoTeamB(){
      this.TeamAinit = false ;
      this.TeamBinit = true ;
    },
    ConfirmTeams(){
      this.state_game++ ;
    },
    confirmots(){
      this.i = this.i + 5 ;
    },
    startgame(){
      this.state_game++ ;
      console.log(this.mots) ;
      this.shuffle() ;
      console.log(this.mots) ;
      index1=0;
      index2=0;
      for(i=0;i<200;i++){
        if (i%2 == 0){
          this.players[i] = this.TeamA[index1];
          if (index1==(this.NbTeamA-1)){
            index1 = 0 ;
          } else {
            index1++ ;
          }
        } else {
          this.players[i] = this.TeamB[index2];
          if (index2==(this.NbTeamB-1)){
            index2 = 0 ;
          } else {
            index2++ ;
          }
        }
      }

      console.log(this.players)
    },
    NameCurrentTeam(){
      if(this.currentTeam == 'A'){
        return this.NameTeamA
      } else {
        return this.NameTeamB
      }
    },
    shuffle() {

        var currentIndex = this.mots.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

          // Pick a remaining element...
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex -= 1;

          // And swap it with the current element.
          temporaryValue = this.mots[currentIndex];
          this.mots[currentIndex] = this.mots[randomIndex];
          this.mots[randomIndex] = temporaryValue;
        }

     },
     startGuessing(){
      this.start() ;
      this.startingButton = false ;
      this.guessing = true ;
     },
     start () {
        this.timer = setInterval( () => {
          if (this.time > 0) {
              this.time--
          } else {
              /*this.sound.play()*/
              clearInterval(this.timer) ;
              this.suivantButton = true ;
              this.guessing = false ;
              this.Passer() ;
          }
        }, 1000 )
			 
     },
     Passer(){
      if (this.indexmots == (this.nb_mots-this.motsfound-1)){
        this.indexmots = 0 ;
      } else {
        this.indexmots++ ;
      }
     },
     Trouve(){
      if (this.currentTeam == 'A'){
        this.PointsA++ ;
      } else {
        this.PointsB++ ;
      }
      this.temparray[this.motsfound] = this.mots[this.indexmots]
      this.motsfound++
      this.mots.splice(this.indexmots, 1);
      if (this.indexmots == (this.nb_mots-this.motsfound)){
        this.indexmots = 0 ;
      }
      if (this.nb_mots==this.motsfound){
        this.stop();
        this.state_game++ ;
        this.initManche = true ;
        this.guessing = false ;
        this.currentplayer++ ;
        if (this.currentTeam == 'A'){
          this.currentTeam = 'B' ;
      } else {
        this.currentTeam = 'A' ;
      }
        for (i = 0 ; i < this.nb_mots ; i++){
          this.mots[i] = this.temparray[i] ;
        }
        this.motsfound = 0 ;
        this.temparray = [];
        this.indexmots = 0 ;
        this.time = 40 ;
      }
     },
     Suivant(){
       this.suivantButton = false ;
       if (this.currentTeam=='A'){
         this.currentTeam='B'
       } else {
         this.currentTeam='A'
       }
       this.currentplayer++ ;
       this.startingButton = 'true' ;
       this.time = 40 ;
     },
     stop(){
       clearInterval(this.timer);
     },
     startManche(){
       this.shuffle()
       this.initManche = false ;
       this.startingButton = true ;
     }
  }
}
</script>

<style scoped>

.miniblock{
  display: flex;
  flex-wrap : wrap;
  text-align : center;
  justify-content : center;
}


p{
  display: block;
	font-size: 2rem;
  position: relative;
  color: white ;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
}

label{
  font-size: 2rem;
  color: white ;
  font-weight: bold;
  text-align: center;
}

#stp{
  margin : 10px;
}

span{
  font-size: 2rem;
  color: white ;
  font-weight: bold;
  text-align: center;
}
span.smallspan{
  font-size: 1.5rem;
}
span#colored{
  color: rgb(151, 3, 3);
}

.timer{
  font-size: 2rem;
  color: white ;
  font-weight: bold;
  text-align: center;
}

input{
  border-radius: 6px;
}

.example_a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #fc631c ;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-bottom: 15%;
  align-items : center;
  text-align : center ;
}

.example_a:hover {
background: #fc1d00;
cursor: pointer;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
margin-bottom: none ;
}
.example_b {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #fc631c ;
  padding: 20px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  margin-bottom: 0%;
  margin-top:50px;
}

.example_b:hover {
background: #fc1d00;
cursor: pointer;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.regles {
  display: block;
	font-size: 2rem;
  position: relative;
  color: white ;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
}

#titreRegles {
  display: block;
	font-size: 4rem;
  position: relative;
  color: white ;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
}

select{
  background-color: #fc631c;
  border-radius: 10px ;
  border-color: white ;
  width : 50px;
  height : 25px;
  margin-bottom: 10%;
}
.button_cont{
  text-align:center;
  margin-bottom:0;
}
</style>
