<template>
  <div>
    <section id="services">
      <div class="services container">
          <div class="service-top">
            <p id="titreJeux">Let's Play !</p>
          </div>
          <div class="cards">
            <div class="card">
              <router-link to="/Game1">
                <div class="content">
                  <h2>Devine-tête</h2>
                  <p>
                      <br />Soyez le premier à deviner votre personnage ! A partir de 2 joueurs.
                      <br />
                  </p>
                </div>
                
                <img src="../img/jeux/questionmark.png" alt="chat_image" />
              </router-link>
            </div>

            <div class="card2">
              <router-link to="/Game2">
                <div class="content">
                    <h2>Time's Up</h2>
                    <p>
                        <br/>Quelle équipe fera deviner le plus de mots ? A partir de 4 joueurs.
                        <br />
                    </p>
                </div>
                
                    <img src="../img/jeux/timer.png" alt="chat_image" />
                </router-link>
            </div>
          </div>
      </div>
    </section>
  </div>
</template>

<script>
module.exports = {
  props: {
    
  },
  data () {
    return {
      
    }
  },
  methods: {
    
  }
}
</script>

<style scoped>

</style>
