@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


::-webkit-scrollbar {
  width: 0px;
}

:root {
  --background: #e8e4e6;
  --background-tout: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),url(../img/index/home.jpg);
  --headline: #e8e4e6;
  --paragraph: #e8e4e6;
  --button: #00b5fcd2;
  --button-text: #e8e4e6;
  --stroke: #001e1d;
  --main: #e8e4e6;
  --highlight: #00b5fcd2;
  --secondary:#e8e4e6;
  --tertiary: #83dcffd2;
  --quartiary: #e8e4e6;
}

::-webkit-scrollbar {
  width: 0px;
}

/* ===== Theming */
body {
  background: var(--background-tout);
  color: var(--paragraph);
  font-family : 'Raleway', sans-serif;
  margin: 0;
  margin-top: 22px;
  overscroll-behavior-y: contain; /* Prevents native pull to refresh on Mobile Chrome */
}

h1, h2, h3 {
  color: var(--headline);
  text-align: center;
}

h4 {
  color: var(--stroke);
}

hgroup {
  background-color: var(--background);
}

a {
  color: var(--quartiary);
}

main {
  background-color: var(--main);
  color: var(--stroke);
}

button,input[type="submit"] {
  background-color: var(--button);
  border: none;
  border-radius: 0.3rem;
  color: var(--button-text);
  padding: 0.3rem;
}

.loading input[type="submit"], .loading button:focus {
  --button-light: #83dcffd2;
  background-image: linear-gradient(
    45deg,
    var(--button) 0% 40%,
    var(--button-light) 40% 60%,
    var(--button) 60% 100%
  );
  background-size: 4rem;
  animation: move-bg 5s linear infinite;
}

/* ===== General */
ul {
  list-style-type: none;
  margin: 0 0 3rem 0;
  padding: 0;
}

li {
  border-bottom: 1px solid var(--stroke);
  padding: 1rem 0.5rem 0.3rem 0.5rem;
}

[path]:not(.active) {
  display: none;
}

/* ===== Top menu */
menu {
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

menu h2 {
  align-self: end;
  cursor: pointer;
  margin: 0;
  padding-bottom: 1rem;
  width: 100%;
}

menu .active {
  border-bottom: 6px solid var(--secondary);
  padding-bottom: calc(1rem - 6px);
}

/* ===== Forms */
form, .form-like {
  border-top: 6px solid var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: left;
  --height: 3rem;
}

form .form-like {
  border-top: none;
}

label {
  font-size: 0.8rem;
}

input {
  margin-bottom: 1rem;
  height: var(--height);
  font-size: cal(var(--height) / 2);
}

input[type|="radio"] {
  height: var(--height);
  font-size: cal(var(--height) / 2);
}

input[type="submit"] {
  margin-top: 1em;
}

form .cancel, form .remove {
  background-color: var(--tertiary);
}

form .errors {
  color: var(--tertiary);
  text-align: center;
}

form .errors:empty {
  display: none;
}

/* ===== Footer */
footer {
  background-color: #fc0069c2;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  left: -16px;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
}
footer .nav {
  align-self: center;
}
footer button {
  cursor: pointer;
  padding: 0.5rem;
}

/* ===== Known trips */
.known-trips {
  display: none;
  text-align: center;
}
.known-trips li {
  border-bottom: none;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 0.2rem;
}
.known-trips li::before {
  content: '/ '
}
.known-trips li:first-child::before {
  content: ''
}

/* ===== Expense list */
.expense-list li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title title amount"
    "description description date";
}

.expense-list .immediate {opacity: 70%;}
.expense-list .unsynced {background-color: #83dcffd2;}
.loading .expense-list .unsynced {opacity: 70%;}
.expense-list .title {grid-area: title;}
.expense-list .amount {font-size: 1.2rem; grid-area: amount;}
.expense-list time {grid-area: date;}
.expense-list .description {grid-area: description;}
.expense-list .description, .expense-list time {font-size: 0.8rem;}
.expense-list .participants.all { display: none; }
.expense-list .amount, .expense-list time {justify-self: end;}
.expense-list .local { background-color: var(--button);}
.expense-list .placeholder {display: block; padding: 3rem;}
.expense-list .placeholder p:first-child {font-size: 1.6rem;}

/* ===== Balance list */
.balance-list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: auto auto;
  padding: 0 1rem;
}

.balance-list dd, .balance-list dt {
  align-self: center;
  margin: 0.2rem 0;
  padding: 0.5rem;
}

.balance-list dt.negative {
  grid-column: 2 / span 1;
}

.balance-list dt.positive {
  text-align: right;
}

.balance-list dd.negative {
  --ratio: calc(100% * (1 + var(--balance) / var(--max, 1)));
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) var(--ratio), darksalmon var(--ratio), darksalmon 100%);
  grid-column: 1 / span 1;
  text-align: right;
}

.balance-list dd.positive {
  --ratio: calc(100% * var(--balance) / var(--max, 1));
  background: linear-gradient(90deg, mediumseagreen var(--ratio), rgba(0,0,0,0) var(--ratio), rgba(0,0,0,0) 100%);
}

.debt-list{
  border-top: 1px solid var(--stroke);
  display: none;
  padding: 0.5rem;
}
.debt-list.fed {
  display: inherit;
}
.debt-list li {
  border: none;
  padding-top: 0.2rem;
}
.debt-list ul {
  list-style-type: disc;
}

/* ===== Helpers */

.full-width {
  grid-column: 1 / end;
}

a.nav {
  font-family: sans-serif;
  text-decoration: none;
}
.checkable-group > div {
  --cols: 3;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1rem calc(100% / var(--cols) - 1rem));
  padding-right: 1rem;
}

.checkable-group input:checked + label {
  opacity: 1;
  box-shadow: 0 0 15px  rgba(255,255,255,0.6);
}

.checkable-group > div label {
  background-color: var(--secondary);
  border-radius: 0.2rem;
  cursor: pointer;
  color: var(--stroke);
  height: 2rem;
  line-height: 2rem;
  margin-left: 3px;
  min-width: 4rem;
  opacity: 0.5;
  padding: 0.5rem;
}

.toggle input {
  height: inherit;
  margin: 5px;
}

.toggle label {
  font-size: inherit;
}

item-list {
  display: grid;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  grid-template-columns: 1fr auto;
}

item-list .item {
  grid-column: 1 /1;
  margin-bottom: 0;
}

item-list .add {
  grid-column: 1 / span 1;
  margin-bottom: 1rem;
}

item-list .remove {
  background-color: var(--tertiary);
  grid-column: 2 /2;
  margin: 5px;
  width: calc(0.8 * var(--height));
}

item-list.minimum-count .remove {
  display: none;
}

.spinner {
  display: none;
}
.loading .spinner {
  animation: rotate 1s linear infinite;
  background-color: var(--secondary);
  border-radius: 25px;
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent var(--background) transparent;
  box-shadow: 0px 0px 5px var(--secondary);
  box-sizing: border-box;
  display: block;
  height: 50px;
  left: calc(50% - 25px);
  position: absolute;
  top: 20%;
  width: 50px;
}

/* ===== Animation */

@keyframes move-bg {
  from {
    background-position: 0;
  }

  to {
    background-position: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(365deg);
  }
}
